<div class="container__big-card">
    <div class="big-card__photo">
         <img src="https://cdn.pixabay.com/photo/2024/06/01/14/00/ai-8802304_1280.jpg" 
         alt="" 
         srcset="">
    </div>
    
    <div class="big-card__title">
         <h1>
          <a href="https://linkedin.com/in/henrique-ferreira-costa-721295100" target="_blank">
          Desenvolvedor Full Stack .Net & Angular  
         </a>
         </h1>
    </div>
    <div class="big-card__description">
     <a href="https://linkedin.com/in/henrique-ferreira-costa-721295100" target="_blank"> 
       Desenvolvedor Full Stack .Net e Angular com ampla experiência no desenvolvimento de aplicações web e APIs escaláveis, aplicando as melhores práticas de programação e arquitetura de software.     
     </a>
    </div>



</div>