.container__mnu-title{
    color: white;
}

.container__mnu-title > hr {
    margin-top: 5px;
    margin-bottom: 0px;    
}

.container__mnu-title > h1 {
    margin-top: 2px;
    margin-bottom: 2px;    
    font-size: 75px;
    font-family: 'segoe UI';
    display: flex;
    justify-content: center;
    font-weight: bold;
}